* {

	margin: 0;
	padding: 0;

}

html{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 10px;
	letter-spacing: 3px;
	font-weight: bold;
	text-align: center;
}

body{
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.clock{
	height: 500px;
	width: 500px;
	box-shadow: 10px 10px 20px 15px rgba(0,0,0,0.75);
	border-radius: 50%;
	position: relative;
}

.bar{
	width: 50%;
	height: 15px;
	position: absolute;
	top: 50%;
	line-height: 15px;
	border-radius: 10px 0 0 10px;
	transform-origin: 100%;
	transition: all 0.05s;
	transform: rotate(90deg);
	box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
	transition-timing-function: cubic-bezier(0.1,2.7,0.58,1); 
}

.hour{
	background-color: #000;
	color: #fff;
}

.min{
	background-color: #ff8a65;
	color: #fff;
}

.second{
	background-color: #ffee58;
	color: #000;
}